database:
  path: "rizznet.db"
  max_proxies: 20000

system_proxy:
  enabled: true
  fallback: "socks5://127.0.0.1:10808"

tester:
  health_timeout: 8s      # Fast check
  speed_timeout: 15s      # Slow check for big downloads
  anneal_budget_mb: 500
  worker_count: 500

  # Echo URL that returns IP in plain text
  echo_url: "http://api.ipify.org"
  
  dirty_check_url: "https://developers.google.com"
  
  speed_test_url: "https://speed.cloudflare.com/__down?bytes=5000000"

collectors:
  - name: "http"
    type: "http"
    params:
      url: "https://raw.githubusercontent.com/ari-ahm/rizznet/refs/heads/main/sub"
  - name: "http"
    type: "http"
    params:
      url: "https://raw.githubusercontent.com/AzadNetCH/Clash/refs/heads/main/AzadNet.txt"
  - name: "http"
    type: "http"
    params:
      url: "https://raw.githubusercontent.com/Epodonios/v2ray-configs/refs/heads/main/All_Configs_Sub.txt"

  # Telegram Collector (Requires Credentials)
  # - name: "tg"
  #   type: "telegram"
  #   params:
  #     api_id: 123456        # REPLACE ME
  #     api_hash: "REPLACE_ME"
  #     limit: 100
  #     chats:
  #       - -1001878264271
  #       - -1001847556009
  #       - -1001629460620
  #       - -1001704865375
  #       - -1001698158989

categories:
  - name: "speed"
    strategy: "standard"
    weight: 10
    bucket_size: 10
    params: {}

  - name: "clean"
    strategy: "standard"
    weight: 10
    bucket_size: 10
    params:
      require_clean: true

  - name: "fastly"
    strategy: "standard"
    weight: 2
    bucket_size: 3
    params:
      entry_isp: "Fastly"

publishers:
  - name: "stdout"
    type: "stdout"
    categories: []
    params: {}
  
  # Github Publisher
  # - name: "repo"
  #   type: "github"
  #   categories: []
  #   params:
  #     token: "ghp_REPLACE_ME"
  #     owner: "REPLACE_ME"
  #     repo: "rizznet"
  #     path: "sub"
  #     base64: false
  #     message: "yay i'm still alive"
